<div class="card shadow mb-4">
  <div class="card-body">
    <h3 class="mb-3">Your Active Order Purchases</h3>
    <app-order-history [username]="username" [userId]="userId"></app-order-history>
  </div>
</div>

<div class="card shadow mb-4">
  <div class="card-body">
    <h3 class="mb-3">Your Active Order Listings</h3>

    <div *ngIf="userListedOrders.length > 0; else noListedOrders">
      <div class="order-item" *ngFor="let item of userListedOrders">
        <div class="order-header">
          <h2><strong><a [routerLink]="['/shop-item', item.itemId]">{{item.name}}</a></strong></h2>
        </div>
        <div class="order-details">
          <p><strong>Buyer: </strong> <a [routerLink]="['/user-shop', buyerUserIds[item.id]]">{{buyerUsernames[item.id]
              || '...'}}</a></p>
          <p><strong>Price:</strong> ${{item.price.toFixed(2)}}</p>
          <p><strong>Quantity:</strong> {{item.quantity}}</p>
          <p><strong>Status:</strong>
            <select [value]="item.status" (change)="updateStatus(item, $event)">
              <option value="Pending">Pending</option>
              <option value="Shipped">Shipped</option>
              <option value="Canceled">Canceled</option>
            </select>
          </p>
          <p><strong>Created At:</strong> {{item.createdAt | date:'medium'}}</p>
        </div>
        <hr class="hr" />
      </div>
    </div>

    <ng-template #noListedOrders>
      <div class="no-orders">
        <p>No active order listings found.</p>
      </div>
    </ng-template>

  </div>
</div>