<h1 class="text-center fw-bold">Things for sale!</h1>

<div class="container" *ngIf="shopItems && shopItems.length > 0">
  <table class="table">
    <thead>
      <tr>
        <th>Picture</th>
        <th>Name</th>
        <th>Seller</th>
        <th>Description</th>
        <th>Price</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let shopItem of shopItems">
        <td><a [routerLink]="['/shop-item', shopItem.id]"><img [src]="shopItem.imageUrl" [alt]="shopItem.name"
              height="128"></a></td>
        <td><a [routerLink]="['/shop-item', shopItem.id]">{{shopItem.name}}</a></td>
        <td><a [routerLink]="['/user-shop', shopItem.userId]">{{getItemSeller(shopItem)}}</a></td>
        <td>{{shopItem.description}}</td>
        <td>${{shopItem.price}}</td>
        <td><button (click)="addItemToCart(shopItem)" class="btn btn-success">Add to cart</button></td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="!shopItems || shopItems.length === 0" class="alert alert-info">
  <p>Loading items, please wait...</p>
</div>