<h1>{{username}}'s Account</h1>

<div *ngIf="hasSavedAddress()" class="container">
  <table class="table">
    <tbody>
      <tr>
        <td>
          {{accountDetailItem.fullName}}
          <br />
          {{accountDetailItem.street}}
          <br *ngIf="hasAddressLineTwo()" />
          <span *ngIf="hasAddressLineTwo()">{{accountDetailItem.streetLine2}}</span>
          <br />
          {{accountDetailItem.city}} {{accountDetailItem.state}}
          <br />
          {{accountDetailItem.zipCode}}
        </td>

        <td>
          <div class="alert alert-warning" *ngIf="isDefaultAccountDetailItem(accountDetailItem)">Default Address</div>
          <button *ngIf="!isDefaultAccountDetailItem(accountDetailItem)" (click)="setAsDefault(accountDetailItem)" class="btn-success">Set As Default</button>
          <br />
          <br />
          <button (click)="deleteAddress(accountDetailItem)" class="btn-success">Delete Address</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="!hasSavedAddress()">
  <h3>You have no saved address.</h3>
</div>

<div>
  <br />
  <button (click)="modifyAddress()" class="btn-success">Add New Address</button>
  <br />
</div>

<div *ngIf="hasSavedCardNum()">
  <br />
  <h3>Saved card number for {{accountDetailItem.fullName}}:</h3>
  <!--{{accountDetailItem.cardNumber}}-->
  <button (click)="deleteCardNum()" class="btn-success">Delete Payment Info</button>
</div>

<div *ngIf="!hasSavedCardNum() && hasSavedAddress()">
  <br />
  <h3>No saved card number for {{accountDetailItem.fullName}}.</h3>
</div>

<div *ngIf="!hasSavedCardNum() && !hasSavedAddress()">
  <br />
  <h3>No saved card number.</h3>
</div>

<div>
  <br />
  <button (click)="modifyCardNum()" class="btn-success">Change Saved Card Number</button>
</div>

<!-- Order History Section -->
<div class="order-history-section">
  <br />
  <h3>Order History</h3>
  <app-order-history [username]="username"></app-order-history>
</div>